.header {
    padding: 20px 25px;
    border-bottom: 2px solid #373737;
    display: flex;
    align-items: center;
}

.header span {
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

.button {
    margin-top: 0 !important;
    margin-right: 30px;
    position: absolute;
    right: 0;
}



@media (max-width: 550px) {
    .name {
        display: none;
    }
}