.dashboard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.wrapper {
    text-align: center;
}

.wrapper p {
    font-size: 18px;
    font-weight: 500;
}

.actions {
    margin-top: 90px;
}

.actions input {
    width: 280px;
    border-radius: 20px;
    padding: 10px;
    font-size: 17px;
}